@font-face {
    font-family: likin_park;
    src: url(../fonts/linkin_park/LinkinPark.ttf);
}
.section_members{
    width: 100%;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.sub_members{
    color: white;
    width: 100%;
    margin-left: 2em;
    font-family: likin_park;
    font-size: 3em;
}
.cont_members{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-around;
}




.cont_card_instrument{
width: 100px;
height: 100px;
clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
background-color: rgb(255, 255, 255);
justify-items: center;
align-content: center;
position: relative;

}
.cont_card_instrument_icon{
    width: 95px;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    background-color: rgb(0, 0, 0);
    gap: 10px;
    
}
.cont_card_instrument_icon i{
    font-size: 2em;
    color: white;
    
}

.card_members{
    position: relative;
    width: 15em;
    height: 25em;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 20px;
}
.card_members .front{
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    
}
.card_members .front img{
    width: fit-content;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.front,.back{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;

}

.back{
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("https://i.pinimg.com/736x/71/7d/21/717d21b933ff62bc61ae95350f6b6828.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   
.back p{
    margin: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    /*background-color: rgba(175, 175, 175, 0.7);*/
    padding: 2px;
    border-radius: 20px;
    /*border: 1px solid white;*/
}

.card_members:hover{
    transform: rotateY(180deg);
    
}